
@model List<ISA.DataAccess.Models.Cinema>


<p>
    Cinemas
</p>
<table class="table responsive">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Type
            </th>
            <th>
                Address
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeString)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                <a asp-controller="Cinemas"
                   asp-action="Details"
                   asp-route-id="@item.Id"
                   >Details</a>
            </td>
        </tr>
        }
    </tbody>
</table>
