@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using static ISA.Data.Constants;
@using static ISA.Data.Expressions;
@model List<ISA.DataAccess.Models.Cinema>

<h2>Index</h2>


@if (IsAnon(User))
{
    @Html.PartialAsync($"Partials/Index/Anon")
}
else
{
    foreach (var role in SYSTEM_ROLES)
    {
        if (User.IsInRole(role))
        {
            @await Html.PartialAsync($"Partials/Index/{role}")
        }
    }
}

