@model IEnumerable<ISA.DataAccess.Models.Cinema>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@if (User.IsInRole("SuperAdmin"))
{
    @await Html.PartialAsync("Index_SuperADmin");
}
else if (User.IsInRole("MovieAdmin"))
{
    @await Html.PartialAsync("Index_MovieAdmin");
}
else if (User.IsInRole("FunZoneAdmin"))
{
    @await Html.PartialAsync("Index_FunZoneAdmin");
}
else if (User.IsInRole("User"))
{
    @await Html.PartialAsync("Index_User");
}
else
{
    <p>User is not in any of known roles (but logged in none-the-less)</p>
}
