@using ISA.Models.HomeViewModels;
@model List<ReservationViewModel>

<div id="history-table-div">
    <header>
        <h5>
            Welcome admin!
        </h5>
        <h6>
            You can now edit fan zone section.
        </h6>
    </header>
</div>
